<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pearson Departures</title>
  </head>
  <body>
    <div class="header">
      <img
        src="https://cdn.torontopearson.com/-/media/project/pearson/shared/logos/toronto-pearson-logo.svg?rev=61fa281afa374f8f90955437472d0db7&modified=20190531191822&h=44&w=245&la=en&hash=8EDF7489D51E73AAE1192CBC6455FC5D"
        alt=""
      />
    </div>
  </body>
</html>
