<!DOCTYPE html>
<html>
  <head>
    <title>canada pearson airport</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>canada pearson airport</h1>
    <div>
      <img
        src="https://cdn.torontopearson.com/-/media/project/pearson/shared/logos/toronto-pearson-logo.svg?rev=61fa281afa374f8f90955437472d0db7&modified=20190531191822&h=44&w=245&la=en&hash=8EDF7489D51E73AAE1192CBC6455FC5D"
        alt=""
      />
    </div>
    <div class="menubar">
      <a href="flights/">ALL FLIGHTS</a>&nbsp;&nbsp;&nbsp;
      <a href="flights/new">ADD FLIGHT</a>
    </div>
  </body>
</html>
