<!DOCTYPE html>
<html>
  <head>
    <title>canada pearson airport</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>canada pearson airport</h1>

    <div class="menubar">
      <a href="flights/">ALL FLIGHTS</a>&nbsp;&nbsp;&nbsp;
      <a href="flights/new/">ADD FLIGHT</a>
    </div>
  </body>
</html>
