<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pearson Departures</title>
  </head>
  <body>
    <label for="">Alirline: </label><label for=""><%=flights.airline%> </label>
    <label for="">Airport: </label><label for=""><%=flights.airport%> </label>
    <label for="">Flight Nunmber: </label>
    <label for=""><%=flights.flightNo%> </label>
    <label for="">Departing time: </label>
    <label for=""><%=flights.departs%> </label>
  </body>
</html>
