<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pearson Departures</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Alirline</th>
        <th>Airport</th>
        <th>Flight Nunmber</th>
        <th>Departing time</th>
      </tr>

      <%flights.forEach (function(f) {%>
      <tr>
        <td><%=f.airline%></td>
        <td><%=f.airport%></td>
        <td><%=f.flightNo%></td>
        <td><%=f.departs%></td>
      </tr>

      <%})%>
    </table>
  </body>
</html>
