<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Flight</title>
  </head>
  <body>
    <form action="/flights" method="post">
      <label for="">Alirline</label
      ><input type="text" name="airline" value="American" /><br />
      <label for="">Airport</label>
      <select name="airport">
        <option value="AUS" selected>AUS</option>
        <option value="DEN">DFW</option>
        <option value="DEN">DEN</option>
        <option value="DEN">LAX</option>
      </select>

      <br />
      <label for="">Flight Nunmber</label
      ><input type="text" name="flightNo" value="12" /><br />
      <label for="">Departing time</label
      ><input
        type="datetime-local"
        name="departs"
        value="<%=departsDate%>"
      /><br />

      <input type="submit" value="ADD Flight" />
    </form>
  </body>
</html>
