<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Flight</title>
  </head>
  <body>
    <form action="/flights/" metohd="post">
      <label for="">Alirline</label><input type="text" value="airline" />
      <label for="">Airport</label><input type="text" value="airport" />
      <label for="">Flight Nunmber</label
      ><input type="text" value="flightNo" />
      <label for="">Departing time</label
      ><input type="datetime-local" /> value="departs" />
      <input type="submit" value="ADD Flight" />
    </form>
  </body>
</html>
